#search_orginal_url {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#search-submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#search-submit:hover {
    background-color: #45a049;
}
#search-div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#generated_url {
    background-color: blanchedalmond;
    padding: 28px;
    margin: 20px;
    display: none;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
}