$('#generated_url').text("Shrtern URL: <%= request.base_url + '/' + @url_link.generated_url %>").show();
<% if @url_link.present? %>
  $('#most-visited-table tr:last').after("<tr><td><%= @url_link.hit_count %></td><td><%= @url_link.orginal_url %></td><td><%= request.base_url + '/' + @url_link.generated_url %></td> </tr>");
<% end %>